@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?enkslt');
  src:  url('fonts/icomoon.eot?enkslt#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?enkslt') format('truetype'),
    url('fonts/icomoon.woff?enkslt') format('woff'),
    url('fonts/icomoon.svg?enkslt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}




