$icon-calendar : "\e90b";
$icon-skip-right : "\e90c";
$icon-arrow-right : "\e90d";
$icon-back : "\e90e";
$icon-skip-left : "\e90f";
$icon-Chev-down : "\e910";
$icon-filter : "\e911";
$icon-file : "\e912";
$icon-close : "\e913";
$icon-trash-alt : "\e90a";
$icon-mail : "\e901";
$icon-clock : "\e903";
$icon-check : "\e902";
$icon-arrow-dropdown : "\e908";
$icon-burger_menu: "\e905";
$icon-globe: "\e904";
$icon-lock: "\e907";
$icon-phone: "\e909";
$icon-power-off: "\e906";
$icon-user : "\e900";