$icon-telephone : "\e908"; 
$icon-trash-alt : "\e90a";
$icon-mail : "\e901";
$icon-clock : "\e903";
$icon-check : "\e902";
$icon-arrow-dropdown : "\e908";
$icon-burger_menu: "\e905";
$icon-close: "\e902";
$icon-globe: "\e904";
$icon-lock: "\e907";
$icon-phone: "\e909";
$icon-power-off: "\e906";

$icon-user : "\e900";