@use 'variables' as *;
@use 'functions' as *;
@forward 'functions';

/* MIXINS GENERALES */ 
@mixin font-styles($font-family: 'Roboto', $font-weight, $font-size, $color){
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin mobile(){
    @media(max-width: $breakpoint-mobile) {
        @content;
    }
}

@mixin tablet(){
    @media(max-width: $breakpoint-tablet) {
        @content;
    }
}

@mixin desktop(){
    @media(max-width: $breakpoint-desktop) {
        @content;
    }
}

@mixin large-desktop(){
    @media(max-width: $breakpoint-large-desktop) {
        @content;
    }
}
