@use 'variables';

/* Convert px to rem 
    - example of usage: @include toRem(font-size, 20px);
*/
@mixin toRem($property, $value, $base: 16px) {
    #{$property}: #{$value / $base}rem;
}

/* MIXINS GENERALES */ 
@mixin font-styles($font-family: 'Roboto', $font-weight, $font-size, $color){
    font-family: $font-family;
    font-weight: $font-weight;
    font-size: $font-size;
    color: $color;
}

@mixin mobile(){
    @media(max-width: variables.$breakpoint-mobile) {
        @content;
    }
}

@mixin tablet(){
    @media(max-width: variables.$breakpoint-tablet) {
        @content;
    }
}

@mixin desktop(){
    @media(max-width: variables.$breakpoint-desktop) {
        @content;
    }
}

@mixin large-desktop(){
    @media(max-width: variables.$breakpoint-large-desktop) {
        @content;
    }
}