/* Base */
$primary: #4B98D9;
$primary-75:#6FA6D4;
$primary-50: #9FC3E2;
$primary-25: #CFE1F1;

/* Neutral */
$gray-100: #353535;
$gray-75: #686868;
$gray-50: #9A9A9A;
$gray-25: #CDCDCD;
$light: #FAFCFE;

/* Function */
$success: #3BD378;
$error: #E75249;

/* Information */
$text: #191C3D;
$subble-text: #7579A0;
$accent: #D8DBF5;
$inverse-text: #F7F7FC;

/* Font */
$font-family: 'Roboto', sans-serif;

/* Size */
$font-size-extralarge: 64px;
$font-size-large: 40px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-extrasmall: 10px;


/* Breakpoints */
$breakpoint-mobile: 48rem; //480px
$breakpoint-tablet: 40rem; //640px
$breakpoint-desktop: 64rem; //1024px
$breakpoint-large-desktop: 75rem; //1200px

/* Policies state */
$policy-accepted: #57AE60; //15% washed
$policy-pending: #FFE74F; // 40% washed
$policy-rejected: #DB3900; // 12% washed

/* Policies state text */
$policy-accepted-text: #397A3F;
$policy-rejected-text: #B22E00;