@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.renovations__pagination {
	margin-top: rem(40px);
	display: flex;
	align-items: center;
	justify-content: flex-end;

	@include tablet {
		flex-direction: column;
		align-items: flex-end;
		padding-bottom: rem(40px);
	}

	.pagination-bottom {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.pagination__rows {
		display: flex;
		align-items: center;
		margin-right: rem(32px);

		@include tablet {
			margin-right: rem(16px);
		}
	}

	.pagination__rows__rows-text {
		margin-right: rem(12px);
		@include font-styles($font-weight: 700, $font-size: rem(16px), $color: $text);
	}

	.pagination__rows__rows-select {
		position: relative;
		display: inline-flex;
		align-items: center;
	}

	.pagination__rows__option__icon {
		position: absolute;
		right: rem(15px);
		padding-top: rem(4px);
		top: 50%;
		transform: translateY(-50%) rotate(90deg);
		font-size: rem(16px);
		color: $primary;
		pointer-events: none;
	}

	.pagination__rows__option {
		width: rem(72px);
		height: rem(48px);
		padding-left: rem(12px);
		border: 1px solid $primary-50;
		appearance: none;
		cursor: pointer;
		padding-right: rem(32px);
		background-color: $pagination-button-background;
		border-radius: rem(4px);
		@include font-styles($font-weight: 400, $font-size: rem(16px), $color: $gray-100);

		&:focus {
			outline: none;
		}
	}

	.pagination__page {
		margin-right: rem(32px);
		@include font-styles($font-weight: 700, $font-size: rem(16px), $color: $text);

		@include tablet {
			margin-block: rem(40px);
		}
	}

	.pagination__page__text-1 {
		@include mobile {
			display: none;
		}
	}




	.pagination__page-option {
		display: flex;
		align-items: center;

		@include tablet {
			margin-right: rem(8px);
		}
	}

	.pagination__page-option__skip-left,
	.pagination__page-option__left,
	.pagination__page-option__right,
	.pagination__page-option__skip-right {
		border: none;
		width: rem(48px);
		height: rem(48px);
		margin-right: rem(8px);
		display: flex;
		align-items: center;
		justify-content: center;
		background-color: $pagination-button-background;
		border-radius: rem(8px);
	}

	.pagination__page-option__right,
	.pagination__page-option__skip-right {
		box-shadow: 0 rem(6px) rem(16px) rgba(53, 53, 53, 0.12);
	}

	.pagination__page-option__skip-left {
		font-size: rem(16px);
		color: $pagination-button-icon-disabled;
		cursor: pointer;
	}

	.pagination__page-option__left {
		font-size: rem(16px);
		color: $pagination-button-icon-disabled;
		cursor: pointer;
	}

	.pagination__page-option__right {
		font-size: rem(16px);
		color: $primary;
		cursor: pointer;
	}

	.pagination__page-option__skip-right {
		font-size: rem(16px);
		color: $primary;
		cursor: pointer;
	}
}
