@use '../../helpers/mixins' as *;
@use '../../helpers/variables' as *;
@use '../../helpers/icons-variables' as *;

.upcoming-renovations-subheader {
  padding: rem(32px) rem(88px);
  border-top: rem(1px) solid $gray-25;
  font-family: $font-family;

  @include tablet {
    padding: rem(24px) rem(109px) rem(30px) rem(16px);
  }

  @include mobile {
    padding: rem(24px) rem(109px) rem(30px) rem(16px);
  }
}

.upcoming-renovations-subheader__breadcrumb {
  margin-bottom: rem(44px);

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.upcoming-renovations-subheader__breadcrumb-item {
  @include font-styles($font-family, 400, $font-size-small, $primary);

  &:last-child {
    @include font-styles($font-family, 400, $font-size-small, $subble-text);
  }
}

.upcoming-renovations-subheader__breadcrumb-separator {
  margin: 0 rem(5px);
  @include font-styles($font-family, 400, $font-size-small, $subble-text);
}

.upcoming-renovations-subheader__page-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablet {
    flex-direction: column;
    align-items: flex-start;
  }

  @include mobile {
    flex-direction: column;
    align-items: flex-start;
  }
}

.upcoming-renovations-subheader__title {
  @include font-styles($font-family, 400, $font-size-medium, $gray-100);
}

.upcoming-renovations-subheader__stats {
  padding: rem(8.5px) rem(12px);
  background-color: $primary-25;
  border-radius: rem(8px);
  display: inline-flex;
  align-items: center;
  width: fit-content;

  @include tablet {
    margin-top: rem(16px);
  }

  @include mobile {
    margin-top: rem(16px);
  }
}

.upcoming-renovations-subheader__stats-icon {
  font-size: $font-size-small;
  color: $gray-75;
}

.upcoming-renovations-subheader__stats-number {
  margin: 0 rem(4px) 0 rem(10px);
  @include font-styles($font-family, 400, $font-size-small, $gray-75);
}

.upcoming-renovations-subheader__stats-text {
  @include font-styles($font-family, 400, $font-size-small, $gray-75);
}
