@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.dropdown-menu-language {
  position: absolute;
  top: 200%;
  right: -rem(10px);
  background-color: $light;
  border-radius: rem(12px);
  box-shadow: 0 rem(2px) rem(8px) rgba($gray-100, 0.2);
  width: rem(131px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-rem(10px));
  transition: all 0.2s ease;
  pointer-events: none;
  text-decoration: none;
}

.dropdown-menu-language.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-item {
  @include font-styles($font-family, 400, $font-size-small, $gray-100);
  padding: rem(18px) rem(24px) rem(18px) rem(32px);
  cursor: pointer;
  transition: border-color 0.2s;
  display: block;
  width: 100%;
  box-sizing: border-box;
  background: none;
  border-bottom: rem(1px) solid $gray-10;
  text-decoration: none;
  color: inherit;
}

.dropdown-menu-language .dropdown-item:hover {
  background: $primary-25;
  text-decoration: none;
}

.dropdown-menu-language .dropdown-item:first-child:hover {
  border-top-left-radius: rem(12px);
  border-top-right-radius: rem(12px);
}

.dropdown-menu-language .dropdown-item:last-child:hover {
  border-bottom-left-radius: rem(12px);
  border-bottom-right-radius: rem(12px);
}

.dropdown-menu-language .dropdown-item:last-child {
  border-bottom: none;
}
