@use '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.dropdown-menu {
  position: absolute;
  top: 200%;
  right: 0;
  background-color: $light;
  box-shadow: rem(0) rem(2px) rem(8px) rgba($gray-100, 0.2);
  width: rem(375px);
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.2s ease;
  pointer-events: none;

  @include mobile() {
    position: fixed;
    top: rem(78px);
    left: 0;
    right: 0;
    width: 100vw;
    background-color: $light;
    height: calc(100vh - 80px);
    max-width: 100vw;
    max-height: calc(100vh - 80px);
    border-radius: rem(0) rem(0) rem(16px) rem(16px);
    box-shadow: rem(0) rem(8px) rem(32px) rgba($gray-100, 0.15);
    border-top: rem(1px) solid $gray-25;
  }
}

.dropdown-menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-menu .dropdown-header h1 {
  @include font-styles($font-family, bold, $font-size-small, $gray-100);
  margin: rem(24px) rem(254px) rem(22px) rem(24px);
}

.dropdown-menu .dropdown-header p {
  @include font-styles($font-family, 400, $font-size-small, $gray-100);
  margin: rem(0) rem(24px) rem(24px) rem(24px);
}

.dropdown-menu .dropdown-element {
  @include font-styles($font-family, 400, $font-size-small, $gray-100);
  padding: rem(18px) rem(24px) rem(18px) rem(32px);
  cursor: pointer;
  transition: border-color 0.2s;
  display: flex;
  align-items: center;
  gap: rem(12px);
  border-left: rem(3px) solid transparent;
  background: none;
  border-top: rem(2px) solid $gray-10;
}

.dropdown-menu .dropdown-element:hover {
  border-left-color: $primary;
  background: none;
}

.dropdown-menu .dropdown-element:last-child:hover {
  border-bottom-left-radius: rem(16px);

  @include mobile() {
    border-bottom-right-radius: none;
  }
}

.dropdown-menu .dropdown-element a {
  text-decoration: none;
  color: inherit;
  flex: 1;
}

.dropdown-menu .dropdown-element .icon-user,
.dropdown-menu .dropdown-element .icon-lock,
.dropdown-menu .dropdown-element .icon-phone,
.dropdown-menu .dropdown-element .icon-power-off {
  font-size: $font-size-medium;
}



@include mobile() {

  .dropdown-menu .dropdown-header h3 {
    @include font-styles($font-family, bold, $font-size-small, $gray-100);
    margin: rem(24px) rem(234px) rem(22px) rem(24px);
  }

  .dropdown-menu .dropdown-header p {
    @include font-styles($font-family, 400, $font-size-small, $gray-100);
    margin: 0 rem(24px) rem(24px) rem(24px);
  }
}
