@use "../helpers/mixins" as *;
@use "../helpers/variables" as *;

.footer {
  padding: 1rem 2rem;
  background-color: #fff;
}

.footer .icon-mail,
.footer .icon-phone {
  color: $primary;
}

.site-footer__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
}

.site-footer__help {
  @include font-styles($font-family, 700, $font-size-small, $primary);
}

.site-footer__line {
  display: flex;
  align-items: center;
  margin-top: 0.75rem;
  text-decoration: none;
  @include font-styles($font-family, 400, $font-size-small, $gray-100);
}

.site-footer__line .icon-mail,
.site-footer__line .icon-phone {
  margin-right: 0.3125rem;
  font-size: 1rem;
}

.site-footer__address {
  margin-top: 1.40625rem;
  display: flex;
  flex-direction: column;
  justify-self: end;
  text-align: right;
  @include font-styles($font-family, 400, $font-size-small, $gray-100);
}

.site-footer__company {
  margin-bottom: 0.75rem;
}

.site-footer__legal {
  margin-top: 2rem;
}

.site-footer__legal a {
  text-decoration: none;
  @include font-styles($font-family, 500, $font-size-extrasmall, $gray-100);
}

.site-footer__legal .site-footer__divider {
  margin-inline: 1.5rem;
}

.site-footer__copy {
  margin-top: 2.03125rem;
  display: flex;
  justify-self: end;
  text-align: right;
  @include font-styles($font-family, 400, $font-size-extrasmall, $gray-100);
}



@include tablet {
  .footer {
    padding: 1rem;
  }

  .site-footer__grid {
    display: flex;
    flex-direction: column;
  }

  .site-footer__address {
    margin: 16px 0;
    justify-self: start;
    align-self: flex-start;
    text-align: left;
  }

  .site-footer__legal {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .site-footer__legal a {
    @include font-styles($font-family, 400, $font-size-small, $gray-100);
  }

  .site-footer__legal a:nth-of-type(2) {
    margin: 0.875rem 0;
  }

  .site-footer__legal .site-footer__divider {
    display: none;
  }

  .site-footer__copy {
    @include font-styles($font-family, 400, $font-size-small, $gray-100);
  }
}

@include mobile {
  .footer {
    padding: 1rem;
    margin-bottom: 10px;
  }

  .site-footer__grid {
    display: flex;
    flex-direction: column;
  }

  .site-footer__address {
    margin: 45px 0;
    justify-self: start;
    align-self: flex-start;
    text-align: left;
  }

  .site-footer__legal {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }

  .site-footer__legal a {
    @include font-styles($font-family, 400, $font-size-small, $gray-100);
  }

  .site-footer__legal a:nth-of-type(2) {
    margin: 0.875rem 0;
  }

  .site-footer__legal .site-footer__divider {
    display: none;
  }

  .site-footer__copy {
    @include font-styles($font-family, 400, $font-size-small, $gray-100);
  }
}
