@use 'helpers/variables';
@use 'helpers/mixins';
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 88px 16px 88px;
}

.left-side{
  display: flex;               
  align-items: center;          
  gap: 32px; 

  img {
    height: 64px;
    width: auto;
  } 

  a {
    font-family: variables.$font-family;
    font-weight: bold;
    font-size: variables.$font-size-small;
    color: variables.$gray-100;
    text-decoration: none;
  }           
}


.icon-color{
  color: variables.$primary;
}


.right-side{  
  display: flex;
  align-items: center;
  gap: 24px; 
  height: 40px;
  
  button{
    display: flex;        
    align-items: center;  
    gap: 0.5rem;           
    text-decoration: none;    
    background: none;
    border: none;
  }   
  .user, .globe {
    font-size: variables.$font-size-medium;      
  }
  .arrow-down{
    padding-left: 8px;
    font-size: 6px;
  }
  .buttton-text{
    @include mixins.font-styles(variables.$font-family, 400, variables.$font-size-small, variables.$gray-100);
  }

  .icon-burger_menu{
    display: none;
  }

  @include mixins.mobile() {
    .button-text, .arrow-down, .globe{
      display: none;
    }
    .icon-burger_menu{
      display: block;
    }
  }
}


