@use  '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.home{
    background-color: $light;
}

.home-section {
    padding: 0 24px;
}

.renovations-tittle{
    @include font-styles($font-family, bold, $font-size-medium, $gray-100);
    margin-top: 40px;
    margin-left: 0;
    margin-bottom: 24px;
}

.clients-tittle {
    @include font-styles($font-family, 500, $font-size-medium, $gray-100);
    margin: 1.5rem 0;
}

.renovations-desktop {
    display: block;
}

@include mobile() {
    .home-section {
        padding: 0 16px;
    }
}
