@use  '../helpers/variables' as *;
@use '../helpers/mixins' as *;

.home{
    background-color: $inverse-text;
}

.home-wrapper {
    max-width: rem(1392px);
    margin: 0 auto;
}
.home-section {
    padding: 0 rem(24px);
}

.home-section:last-child {
    padding-bottom: rem(80px);
}

.renovations-tittle{
    @include font-styles($font-family, bold, $font-size-medium, $gray-100);
    margin-top: rem(40px);
    margin-left: 0;
    margin-bottom: rem(40px);
}

.clients-tittle {
    @include font-styles($font-family, 500, $font-size-medium, $gray-100);
    margin: rem(40px) 0 rem(32px);
}

.renovations-desktop {
    display: block;
}

@include mobile() {
    .home-section {
        padding: 0 rem(16px);
    }
}
